@import 'tailwindcss';

@source "../";
@source "../.tmp/";

@theme {
  /* Transitions */
  --ease-default: ease-in-out;
  --duration-default: 0.2s;
}

html,
body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  color: rgb(51, 50, 56);

  @apply w-full h-full p-0 m-0 text-base;
}

a {
  color: inherit;
  text-decoration: none;
}

#__next {
  width: 100%;
  height: 100%;
}

.react-contexify {
  pointer-events: all;
}
