@import 'tailwindcss';
@plugin 'tailwind-scrollbar';

@source "../";
@source "../.tmp/";

@theme {
  /* Transitions */
  --ease-default: ease-in-out;
  --duration-default: 0.2s;
}

html,
body {
  color: rgb(51, 50, 56);
  overflow: hidden;

  @apply w-full h-full p-0 m-0 text-base font-sans;
}

a {
  color: inherit;
  text-decoration: none;
}

#__next {
  width: 100%;
  height: 100%;
}

.react-contexify {
  pointer-events: all;
}
